*,*::before,
*::after{
    box-sizing: border-box;
    
}

:root{
  --clr-header:#3E323F;
  --clr-primary:#3B4050;
  --clr-secondary:#A59678;
}

body{
    margin: 0;
    font-family:"Oswald" , sans-serif;
    font-size: 1rem;
}

img{
    max-width: 100%;
}
/* *** nav bar ****/

h1{
    font-size: 1.125rem;
}

header{
    background-color: var(--clr-header);
    padding: 1em 0;
    text-align: center;
}


.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.nav-toggle{
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #3B4050;
    color: white;
    transition: opacity 250ms ease;

    position:absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover{
    opacity: .5;
}

.hamburger{
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 


.nav__list{
    padding-left: 0;
    list-style: none;
}

.nav__link{
    text-decoration: none;
    color:#fff ;
}

.nav__link:focus,
.nav__link:hover{
    opacity: .55;
}

.nav__item{
    margin-top: 1rem;
    letter-spacing: .1rem;
}

.nav__button{
    background: var(--clr-secondary);
    padding: .2em .5em;
    border-radius: 20px;
}

/**** section / intro *****/

.intro{
   background-color: var(--clr-primary);
   color: #FFFFFF;
   font-size: 1.5rem ;
}

h1{
    font-size: 5.625rem ;
    margin: 0;
    line-height: 7rem;
}

.intro__button{
    background-color: var(--clr-secondary);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 30px;
    padding: .75em 2em;
    margin-bottom: .5rem;
    text-transform: uppercase;
    cursor: pointer;
}

section p{
    margin: .5rem 0;
}
 

/**** article ****/
article{
    background-color: rgb(250, 243, 243);
    padding: .4rem 0;
    font-size: 1.125rem;
}

h2{
    font-size: 2.25rem;
    color: var(--clr-secondary);
    margin: 0 0 .3rem 0;
}

article p{
    margin: 0;
}

/***** main *****/
main{
    background-color: #FFFFFF;
}

h3{
    font-size: 2.25rem ;
    color: var(--clr-secondary);
}

main p{
    font-size: 1.3125rem;

}

  /**** aside ****/
aside{
    text-align: center;
}

aside h2{
    color: #FFFFFF;
    font-size: 1.875rem;
    margin: 0;
} 

.aside-col{
    background-color: var(--clr-primary);
    margin-bottom: .6rem;
    padding: .5em;
}

aside p{
    font-size: 1.125rem;
    margin: 0;
}

   /**** footer *****/

   footer{
    background-color: var(--clr-primary);
    padding: .5rem;
    
   }

   footer p{
    color: #6F737F ;
   }

   h4{
    font-size:1.5rem ;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
   }

   h5{
    font-size: 1rem;
    color: var(--clr-secondary);
   }

   .nav__link__footer{
    text-decoration: none;
    color: #6F737F ;
   }

   .nav__list__footer{
     list-style: none;
     padding-left: 0;
   }



   @media( min-width: 1000px){
   
    .flex{
        display: flex;
    }

    /* header */
    .container{
        justify-content: space-between;
    }

    .nav__link{
        font-weight: 600;
    }
    .nav__list{
        margin: 0;
    }
    .nav-toggle {
        display: none;
    }
    .nav__item{
        margin: 0 0 0 3em;
        padding-top:0.3em;
    }
    .nav {
        visibility: visible;
        align-items: center;
        height: auto;
        position: relative;
    }
    .nav__link--button{
        padding: .1em .35em;
    }

    /* intro */
    .intro-col{
        width: 45%;
    }


   }





